# 銆愰€氱敤銆戠幆澧冨彉閲?
# 鐗堟湰鍙?VITE_VERSION=3.0.1

# 绔彛鍙?VITE_PORT=3006

# 搴旂敤閮ㄧ讲鍩虹璺緞锛堝閮ㄧ讲鍦ㄥ瓙鐩綍 /admin锛屽垯璁剧疆涓?/admin/锛?VITE_BASE_URL=/

# API 鍩虹鍦板潃锛堢敓浜х幆澧冭淇敼涓哄疄闄?API 鍦板潃锛?VITE_API_URL=http://localhost:8080/api

# API 浠ｇ悊鍦板潃锛堝紑鍙戠幆澧冧唬鐞嗙洰鏍囧湴鍧€锛?VITE_API_PROXY_URL=http://localhost:8080

# 鏉冮檺妯″紡锛歠rontend 鍓嶇妯″紡 / backend 鍚庣妯″紡
VITE_ACCESS_MODE=backend

# 璺ㄥ煙璇锋眰鏃舵槸鍚︽惡甯?Cookie锛堝紑鍚墠闇€纭繚鍚庣鏀寔锛?VITE_WITH_CREDENTIALS=false

# 鏄惁鎵撳紑璺敱淇℃伅
VITE_OPEN_ROUTE_INFO=false

# 閿佸睆鍔犲瘑瀵嗛挜
VITE_LOCK_ENCRYPT_KEY=s3cur3k3y4adpro
