<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.starpivot.mall.pms.mapper.PmsAttrMapper">

    <resultMap type="cn.org.starpivot.mall.pms.entity.PmsAttr" id="PmsAttrResult">
        <result property="attrId"    column="attr_id"    />
        <result property="attrName"    column="attr_name"    />
        <result property="searchType"    column="search_type"    />
        <result property="valueType"    column="value_type"    />
        <result property="icon"    column="icon"    />
        <result property="valueSelect"    column="value_select"    />
        <result property="attrType"    column="attr_type"    />
        <result property="enable"    column="enable"    />
        <result property="catelogId"    column="catelog_id"    />
        <result property="showDesc"    column="show_desc"    />
    </resultMap>

    <sql id="selectPmsAttrVo">
        select attr_id, attr_name, search_type, value_type, icon, value_select, attr_type, enable, catelog_id, show_desc from pms_attr
    </sql>

    <select id="selectPageList" resultMap="PmsAttrResult">
        <include refid="selectPmsAttrVo"/>
        <where>
            <if test="queryDTO.attrName != null  and queryDTO.attrName != ''">and attr_name like concat('%',
                #{queryDTO.attrName}, '%')
            </if>
            <if test="queryDTO.searchType != null ">and search_type = #{queryDTO.searchType}</if>
            <if test="queryDTO.valueType != null ">and value_type = #{queryDTO.valueType}</if>
            <if test="queryDTO.icon != null  and queryDTO.icon != ''">and icon = #{queryDTO.icon}</if>
            <if test="queryDTO.valueSelect != null  and queryDTO.valueSelect != ''">and value_select =
                #{queryDTO.valueSelect}
            </if>
            <if test="queryDTO.attrType != null ">and attr_type = #{queryDTO.attrType}</if>
            <if test="queryDTO.enable != null ">and enable = #{queryDTO.enable}</if>
            <if test="queryDTO.catelogId != null ">and catelog_id = #{queryDTO.catelogId}</if>
            <if test="queryDTO.showDesc != null ">and show_desc = #{queryDTO.showDesc}</if>
        </where>
    </select>

    <select id="selectListByQuery" resultMap="PmsAttrResult">
        <include refid="selectPmsAttrVo"/>
        <where>
            <if test="queryDTO.attrName != null  and queryDTO.attrName != ''">and attr_name like concat('%',
                #{queryDTO.attrName}, '%')
            </if>
            <if test="queryDTO.searchType != null ">and search_type = #{queryDTO.searchType}</if>
            <if test="queryDTO.valueType != null ">and value_type = #{queryDTO.valueType}</if>
            <if test="queryDTO.icon != null  and queryDTO.icon != ''">and icon = #{queryDTO.icon}</if>
            <if test="queryDTO.valueSelect != null  and queryDTO.valueSelect != ''">and value_select =
                #{queryDTO.valueSelect}
            </if>
            <if test="queryDTO.attrType != null ">and attr_type = #{queryDTO.attrType}</if>
            <if test="queryDTO.enable != null ">and enable = #{queryDTO.enable}</if>
            <if test="queryDTO.catelogId != null ">and catelog_id = #{queryDTO.catelogId}</if>
            <if test="queryDTO.showDesc != null ">and show_desc = #{queryDTO.showDesc}</if>
        </where>
        order by attr_id asc
    </select>
</mapper>
