<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.starpivot.mall.pms.mapper.PmsBrandMapper">

    <sql id="Base_Column_List">
        brand_id, name, logo, descript, sort, show_status, first_letter
    </sql>

    <select id="selectPageList" resultType="cn.org.starpivot.mall.pms.entity.PmsBrand">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pms_brand
        <where>
            <if test="brandReqBo.name != null and brandReqBo.name != ''">
                AND name LIKE CONCAT('%', #{brandReqBo.name}, '%')
            </if>
            <if test="brandReqBo.showStatus != null">
                AND show_status = #{brandReqBo.showStatus}
            </if>
            <if test="brandReqBo.firstLetter != null and brandReqBo.firstLetter != ''">
                AND first_letter = #{brandReqBo.firstLetter}
            </if>
        </where>
        ORDER BY sort ASC, brand_id ASC
    </select>
</mapper>
