<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.starpivot.mall.pms.mapper.PmsSpuInfoMapper">

    <sql id="Base_Column_List">
        id, spu_name, spu_description, catalog_id, brand_id, weight, publish_status, create_time, update_time
    </sql>

    <select id="selectPageList" resultType="cn.org.starpivot.mall.pms.entity.PmsSpuInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pms_spu_info
        <where>
            <if test="productReqBo.spuName != null and productReqBo.spuName != ''">
                AND spu_name LIKE CONCAT('%', #{productReqBo.spuName}, '%')
            </if>
            <if test="productReqBo.catalogId != null">
                AND catalog_id = #{productReqBo.catalogId}
            </if>
            <if test="productReqBo.brandId != null">
                AND brand_id = #{productReqBo.brandId}
            </if>
            <if test="productReqBo.publishStatus != null">
                AND publish_status = #{productReqBo.publishStatus}
            </if>
        </where>
        ORDER BY id DESC
    </select>
</mapper>
