<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.starpivot.system.mapper.SysLogininforMapper">

    <select id="countByMonthRange" resultType="java.util.HashMap">
        SELECT
            DATE_FORMAT(login_time, '%Y-%m') as yearMonth,
            COUNT(*) as count
        FROM sys_logininfor
        WHERE login_time &gt;= #{start}
          AND login_time &lt; #{end}
        GROUP BY DATE_FORMAT(login_time, '%Y-%m')
        ORDER BY yearMonth
    </select>

    <select id="countByUserNames" resultType="java.util.HashMap">
        SELECT
            user_name as userName,
            COUNT(*) as count
        FROM sys_logininfor
        WHERE user_name IN
        <foreach collection="userNames" item="userName" open="(" separator="," close=")">
            #{userName}
        </foreach>
          AND login_time &gt;= #{start}
        GROUP BY user_name
    </select>
</mapper>