<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.starpivot.file.mapper.SysFileRefMapper">

    <select id="countByFileId" resultType="long">
        SELECT COUNT(1)
        FROM sys_file_ref
        WHERE file_id = #{fileId}
    </select>

    <select id="countGroupByFileIds" resultType="cn.org.starpivot.file.domain.bo.FileRefCount">
        SELECT file_id AS fileId, COUNT(1) AS refCount
        FROM sys_file_ref
        WHERE file_id IN
        <foreach collection="fileIds" item="fileId" open="(" separator="," close=")">
            #{fileId}
        </foreach>
        GROUP BY file_id
    </select>

    <delete id="deleteByFileIds">
        DELETE FROM sys_file_ref
        WHERE file_id IN
        <foreach collection="fileIds" item="fileId" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>
</mapper>
